{% extends "MHStoreBundle::layout.html.twig" %}

{% block bundle_body %}
    <h2>Error {{ status_code }} {{ status_text }}</h2>

    <hr>
    <br>
    <br>
    <div class="alert alert-danger">
        <strong>Something Happened</strong>
    </div>

{% endblock %}