{% extends "MHNewsletterBundle::layout.html.twig" %}

{% block bundle_body %}
    <h2>Hey What is going on here : error {{ status_code }} {{ status_text }}</h2>

    <hr>
    <br>
    <br>
    <div class="alert alert-danger">
        <strong>This will be fixed pretty soon</strong>
    </div>

{% endblock %}
