{% extends "MHStoreBundle::layout.html.twig" %}


{% block body %}

    <h3> Mon compte </h3>

    <hr>
    <div class="row">
        <div class="col-md-8">
            <h4 style="color: #528eff;">{{ user.name }}</h4>   <br>
            <br>
        </div>

    </div>


{% endblock %}