{% extends "MHStoreBundle::layout.html.twig" %}


{% block body %}

    <h3> Ajout d'une annonce </h3>

    <hr>

    <div class="card">
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}