{% extends "MHStoreBundle::layout.html.twig" %}

{% block bundle_body %}

    <h3> Home </h3>

    <hr>
    <div class="row">
        <div class="col-md-8">
            <h4>Last product in sales</h4>
            {% if products is empty %}
                <div class="alert alert-info">
                    There is no product on sales currently, please come back later.
                </div>

            {% else %}
                {% include('MHStoreBundle:Template:list-product.html.twig') %}
            {% endif %}

        </div>
        {% if app.user %}
            <div class="col-md-4">
                <a href="{{ path('mh_store_add') }}" class="btn btn-success">Add a product</a>

                <a href="{{ path('mh_store_list') }}" class="btn btn-primary">See all products</a>
            </div>
        {% else %}
            <div class="col-md-4">
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-light">Login</a>
                <a href="{{ path('mh_store_list') }}" class="btn btn-primary ">See all products</a>
            </div>
        {% endif %}

    </div>
                <br>
                <br>

{% endblock %}