{% extends "MHStoreBundle::layout.html.twig" %}


{% block bundle_body %}

    <h3> Liste des produits </h3>

    <hr>

    <div class="card">

            <br>
            {% if products is empty %}
                Il n'y a aucun produit en vente actuellement, revenez plus tard.
            {% else %}
                {% for product in products %}
                    <div class="card-body">
                    <div class="row">
                        {% include('MHStoreBundle:Template:list-annonce.html.twig') %}
                    </div>
                    <br>
                    {% if not loop.last %}
                    <hr><br>

                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>


{% endblock %}