{% extends "MHStoreBundle::layout.html.twig" %}


{% block bundle_body %}

    <h3> Products in sale </h3>

    <hr>

    <div class="card">
            <br>
            {% if products is empty %}
                <div class="card-body">
                    <div class="alert alert-info">
                        There is no product on sales currently, please come back later.
                    </div>
                </div>

            {% else %}
                {% include('MHStoreBundle:Template:list-product.html.twig') %}
            {% endif %}

    </div>
                <br>
                <br>


{% endblock %}