
{% extends "MHStoreBundle::layout.html.twig" %}


{% block bundle_body %}

    <h3> Product search for : '{{ tag }}'</h3>

    <hr>

    <div class="card">

            <br>
            {% if products is empty %}
                <div class="alert alert-info">
                    There is no product currently on sale for your search, <a class="alert-link" href="{{ path('mh_store_list') }}">back to the list of products</a> .
                </div>

            {% else %}
                {% include('MHStoreBundle:Template:list-product.html.twig') %}
            {% endif %}

    </div>


{% endblock %}